[submodule "config/package/exwm-workspace-group"]
	path = config/library/exwm-workspace-group
	url = https://github.com/daehwannam/exwm-workspace-group.git
[submodule "dhnamlib"]
	path = dhnamlib
	url = https://github.com/daehwannam/emacs-library.git
