# ignore all but some directories and files
/*
/*/

!/.gitignore
!/init.el
!/dhnamlib
!/base/
!/config/
!/README.org
!/exwm/
!/package/.gitkeep
!/update.sh
!/LICENSE
!/bug-fix/
!/clear.sh

# ignore some patterns
# emacs temporary files
*~
*[#]*

# python temporary files
*.pyc

# ignore some files
/config/options.txt
/config/options-extra.txt
/config/packages.txt
/config/custom/custom.el

# include special directories (that include .gitkeep)
/config/bin/*
/config/bin/*/
!/config/bin/note.org

# backup directory
!/backup
/backup/*
/backup/*/
!/backup/note.org
!/backup/clear.sh

!.gitkeep

# latex preview image directory name
ltximg

# ignore temporary files
_tmp_*
