# ignore all but some directories and files
/*
/*/

!init.el
!package.el
!.gitignore
!config/
!README.md
!note/

# ignore some patterns or files
*~
*[#]*
config/domain.txt
config/old-domain.txt
config/custom/custom.el

# include special directories (that include .gitkeep)
config/bin/*
config/bin/*/

!elpa
elpa/*
elpa/*/

!.gitkeep
